<div class="nav-row row">
  <div class="col-md-12">
    <a (click)="goBack()" class="btn btn-warning">Go Back</a>
  </div>
</div>
<iframe [src]="iFrameSrc" id="schedule" class="whencast-player" allowfullscreen="true" oallowfullscreen="true" msallowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" style="width: 100%; height: 600px; min-height: 475px; border: 1px solid rgb(231, 231, 231); margin-bottom: 0px; padding: 0px; display: block; background-color: rgb(255, 255, 255);"></iframe>
